html, body, p{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: #F5F5F5;
    font-family: Georgia, serif;
    color: #333;
}

h1, h2, h3, h4 {
    color: #333;
}

a {
    color: #990003;
}

.row {
    border-bottom: lightgray thin solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.row .row:last-child {
    border: none;
}

.hr {
    background: #666666;
    height: 7px;
}

.left {
    display: inline-block;
    text-align: left;
}

.top-left {
    border-right: solid #666666;
    width: 45%;
    padding: 10px 0 0 50px;
    text-transform: uppercase;
    margin-top: 20px;
    height: 100px

}

.body-left {
    width: 20%;
    padding: 10px 0 0 50px;

}

.top-left h1 {
    font-size: 38px;
    letter-spacing: 3px;
    margin: 0;
}

h2 {
    letter-spacing: 2px;
    font-style: italic;
}

.right {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

.top-right {
    display: inline-block;
    width: 40%;
    padding: 30px 50px 0 10px;
    text-align: left;
}

.body-right {
    width: 70%;
    padding: 20px 20px 0 0;
}

ul li {
    margin-top: 3px
}

span {
    color: #444;
    display: inline-block;
    width: 70px;
}
.skills span {
    width: 100px;
    text-align: center;
}